/* Your CSS Code here. */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    overflow: wrap;
}

.container {
    /* max-width: 200px; */
    background: cadetblue;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 90%;
    width: 50%;
    opacity: 0.9;
    border-radius: 20px;
    height: 800px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-image: url(https://i.pinimg.com/originals/f9/1e/b3/f91eb394ceea5aa054fb0f197f77be75.jpg);
    /* background: gainsboro;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent; */
}

#input {
    width: 75%;
    height: 70px;
    font-size: 35px;
    border-radius: 20px;
    padding: 5px;
    margin: 2px;
}

.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 10px;
    width: 85%;
    margin-left: 50px;
}

.button {
    width: 50px;
    height: 50px;
    border-radius: 20%;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;


}

.button:hover {
    background: grey;
    color: white;
    transition: 0.2s ease-in-out;
    transform: scale(1.1);

}